/* tags */
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;
}
a:hover {text-decoration: underline}

/* blocks */
.question {
    color: #888;
}

.blue {
    background: #1f3d4c;
    color: #fff;
}
.orange {
    background: #D8D5BE;
    color: #234c2e;
}
.light-grey {
    background: #f2fdf1;
    color: #121219;
}


.banner {
    display: flex;
    height: 100%;
}
.banner-splash {
    color: white;
    background: #000 url("Cape-Town01.jpg") 10% 80%;
    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;
}
.banner-half {
    height: 50%;
}
.banner-footer {
    color: white;
    background: #000 url("ct2.jpg") 60% 0%;
    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-centered {
    align-items:  center;
    justify-content: center;
}

.banner_box {
    margin: 2rem;
    margin-bottom: 3rem;
}
.banner_box:first-child {
    margin-left: 3rem;
}
.banner_box:last-child {
    margin-right: 3rem;
}
.banner_box-br {
    font-size: 2rem;
}